@charset "utf-8";
/* CSS Document */


/*	請將first 裡的 jumbotron class 的高度設定為 50vh。*/
#first .jumbotron{
	

	height: 70vh;
	
}


/*	請將first 裡的 h1 標籤的文字顏色為 brown。*/
#first h1{

	/* C-6 */
	color: brown;
}

#introfirst img
{
	
	/* D-5 */
	width: 300px;
}


#introsecond
{
	/*設定整個區塊跟navbar的距離*/
	padding-top:80px;
	
	
}

/*把摺頁裡的img 都設定成為圓角*/
#accordionExample img{
	
border-radius: 25px;

	
	
}

.accordion{
	
/*    max-width:400px;*/
	box-shadow:0 0 10px rgba(10,50,60,0.2);
	border-radius:5px;
	overflow:hidden;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}



.bodybg{

	color:burlywood;
	background-color:#009578;
}
	
.bodybg2{
	
	color:;
	background-color: grey;
	font-family:cursive;
	
}
#location{
	padding-top:100px;
	padding-left:50px;
	
	
}
#QAsecond{
	padding-top:50px;
	padding-left:50px;
	
	
	
}





	
